
:root{
    --cor-padrao: rgb(124, 112, 112);
}

body {
    font-family:Arial, Helvetica, sans-serif;
    }

img{
    margin-left:15px;
}

.navbar {
    background-color: var(--cor-padrao); 
}

.quemsomos{
    background-color: rgb(0, 0, 0);
}
.margin {
    padding-bottom:15px;
    padding-top: 15px;

}
.parceiros { 
    background-color: var(--cor-padrao);
}

.bg-footer {
    background-color:black;
    color:white;
}

.nav-item{
    font-size:30px;
}